:root 
{
      --auth-width: 210px;
      --auth-input-height: 33px;

      --dtc-bg: #111;
      --dtc-default-text: #DFDFDF;

      /* Block only */
      --dtc-border-color: #242424;
      --dtc-content-bg: #171717;
      --dtc-border-size: 2px;

      /* Styles */
      --dtc-gray: #464646;
      --dtc-light-gray: #585858;
      --dtc-white-gray: #9b9b9b;
      --dtc-link: #A822FF;
      --dtc-red: #BF3330;






      --dtc-theme-bg: #141414;
      --dtc-theme-main: #171717;
      --dtc-theme-border-color: #242424;
      --dtc-theme-active-text-color: #DFDFDF;
      --dtc-theme-gray: #464646;
      --dtc-theme-light-gray: #585858;
      --dtc-theme-white-gray: #8C8C8C;
      --dtc-theme-red: #BF3330;
      --dtc-theme-score1: #fff;
      --dtc-theme-score2: #77C0FF;
      --dtc-theme-score3: #F00;
      --dtc-theme-link: #A822FF;
}







/* Main Style */
html > body 
{
      font-family: 'Fira Sans', sans-serif;
      font-weight: 300;
      font-size: 16px;

      background-color: var(--dtc-bg);
      color: var(--dtc-default-text);
}
body > #authorization 
{
      position: absolute;
      border: var(--dtc-border-size) solid var(--dtc-border-color);
      background-color: var(--dtc-content-bg);
      width: var(--auth-width);
      left: 8px;
      top: 8px;
      padding: 10px;
}
body > #authorization > b, 
body > #content > h3
{
      font-size: 24px;
      font-weight: 400;

      color: var(--dtc-light-gray);
}
body > #content 
{
      position: absolute;
      width: calc(100% - var(--auth-width) - 16px);
      left: calc(var(--auth-width) + 6.5px);
      top: 8px;
      padding: 10px;
      padding-left: 15px;
      border: var(--dtc-border-size) solid var(--dtc-theme-border-color);
      background-color: var(--dtc-content-bg);
}
#content #navbar a, #content #navbar 
{
      color: var(--dtc-light-gray);
      cursor: pointer;

      font-weight: 200;

      text-decoration: none;
      user-select: none;

      padding-bottom: 4px;
      padding-left: 0%;
      padding-right: 0%;

      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
#content #navbar a:hover, #content #navbar a.done:nth-last-child(1):hover 
{
      color: var(--dtc-default-text);
      padding-left: 4px;
      padding-right: 6px;
}
#content #navbar a.done:nth-last-child(1) 
{
      color: var(--dtc-white-gray);
}
body > #content #deadlines ul li 
{
      color: var(--dtc-default-text);
      font-weight: 200;
      font-size: 14pt;
}
body > #content #deadlines ul li :not(a) 
{
      color: var(--dtc-red);
      font-weight: 400;
      font-size: 12pt;
      user-select: none;
}













/* TWEAKS */
iframe[src="2//student/index.html"] 
{
      display: none;
}
body > #authorization > form[action="login.html"]
{
      margin-top: 6px;
}
body > #authorization > form[action="logout.html"]
{
      margin-top: 12px;
}
body > #authorization p small 
{
      color: var(--dtc-gray);
}
body > h2
{
      display: none;
}
body > #authorization input, body > #authorization select
{
      width: 100%;
}













/* INPUT STYLES */

/* Select login type */
#authorization > form > p > select[name="idLoginAs"] 
{
      height: var(--auth-input-height);

      margin-top: 10px;
      margin-bottom: 4px;

      padding-left: 4px;
     
      cursor: pointer;

      border-radius: 2px;
      border: 2px solid rgba(12, 12, 13, 0.2);

      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
#authorization > form > p > select[name="idLoginAs"] > option
{
      background-color: #fff;
      color: #000;
}

/* Buttom submit */
#authorization  > form > p >  input[type="submit"] 
{
      height: var(--auth-input-height);

      margin-top: 12px;
      margin-bottom: 8px;

      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.00);
    
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
#authorization  > form > p >  input[type="submit"]:hover 
{
      color: #fff;
      background-color: #000;
      border: 1px solid var(--dtc-border-color);
}

/*Input Field Style*/
#content input[type="text"], #content input[type="password"],
#authorization > form > p > input[type="text"], #authorization > form > p > input[type="password"] 
{
      height: var(--auth-input-height);

      margin-top: 8px;
      margin-bottom: 6px;
      
      padding-left: 8px;
      padding-right: 8px;
      
      border-radius: 2px;
      border: 2px solid rgba(12, 12, 13, 0.2);

      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
}
#content input[type="text"]:focus, #content input[type="password"]:focus,
#authorization  > form > p > input[type="text"]:focus, #authorization  > form > p > input[type="password"]:focus,
#authorization > form > p > select[name="idLoginAs"]:focus 
{
      border: 2px solid #D0D0D0;
      box-shadow: 0 0 0 1px #B3B3B3, 0 0 0 4px rgba(143, 143, 143, 0.3);
}

/* Any links */
#authorization a[href], #content a[href="upload/"], body > #content >#upload-form + p + p a
{
      color: var(--dtc-default-text);
      cursor: pointer;

      font-weight: 200;

      margin: auto;
      text-decoration: none;
      user-select: none;
      
      padding-bottom: 4px;
      padding-left: 0%;
      padding-right: 0%;

      border-bottom: 1px solid #fff;

      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
#authorization a[href]:hover 
{
      border-bottom: 1px solid #fff;
      padding-left: 6%;
}

/* a[href] unknown*/
#content a[href] 
{
      color: var(--dtc-link);
      cursor: pointer;

      font-weight: 200;

      text-decoration: none;
      user-select: none;

      padding-left: 0%;
      padding-right: 0%;
      
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
#content a[href="upload/"]:hover, body > #content > #upload-form + p + p a:hover 
{
      padding-left: 5px;
      padding-right: 5px;
}

/*Uploading files*/
body > #upload-form #files tbody tr.fileholder td:nth-child(1) a 
{
      color: var(--dark-theme-score2);
      cursor: pointer;
      font-weight: 200;
      font-size: 16px;
      margin: auto;
      text-decoration: none;
      user-select: none;
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
}
body > #content > #upload-form input[type="submit"] 
{
      margin-top: 20px;
      margin-bottom: 30px;
}