@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap');

#DTC-Window
{
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    z-index: 999;
}

.DTC-Window-Center
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.DTC-Window-Center:nth-child(1) > img
{
    height: 35%;
}

.DTC-Window-dark
{
	background-color: #101010;
}

.DTC-Window-light
{
	background-color: #fff;
}

header
{
    position: absolute;
    z-index: 100;
}