/*Phone version*/
@media (max-width: 800px) 
{
      #menu-pc {display: none !important;}
      .container-fluid 
      {
          justify-content: left !important;
      }
  }
  
  
  /*PC Version*/
  @media (min-width: 801px) 
  {
      #menu-phone {display: none !important;}
  }
  
  header
  {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 14pt;
  }
  
  header > nav 
  {
      min-width: 320px;
      background-color: #2E2D2D;
      box-shadow: 0px -25px 30px 10px #000;
  }
  
  #logotype-navbar 
  {
      height: 40px;
      width: auto;
      margin-right: 10px;
  }
  
  #menu-phone 
  {
      width: calc(100% - 70px);
  }
  
  #menu-phone > button 
  {
      background-color: #2E2D2D;
      border-color: rgba(255, 255, 255, 0.30);
  }
  
  #menu-phone > ul 
  {
      background-color: #2E2D2D;
  }
  
  #menu-phone > button,
  #menu-phone > ul 
  {
      width: 100%;
  }
  
  #menu-phone > ul > li > a 
  {
      color: #fff;
  }
  #menu-phone > ul > li:hover
  {
      background-color: #585858;
  }



  #menu-pc > #auth
  {
      color: rgba(255,255,255,.55);
  }

  #menu-pc > #auth > p
  {
      margin: 0;
  }


  li > .style-exit > a
  {
      color: rgba(255, 0, 0, 1);
  }


  .style-exit > a
  {
      text-decoration: none;
      color: rgba(255, 0, 0, .80);
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
  }
  .style-exit > a:hover
  {
      color: rgba(255, 0, 0, 1);
  }